.card {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  padding: 15px;
}
.img img {
  width: 40px;
  height: 40px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background: skyblue;
  height: 100vh;
  padding: 40px 0px;
}
h3 {
  font-weight: 200;
  text-shadow: 1px 1px 3px gray;
}
.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.drag_column {
  width: 100%;
  float: left;
  display: flex;
}
.drag_row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.small-box {
  width: 25%;
  box-shadow: 3px 3px 50px 2px grey;
  display: flex;
  padding: 40px;
  height: max-content;
}

.task {
  border: 1px solid white;
  margin: 10px;
  box-shadow: 1px 3px 20px gray;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dragged {
  background-color: rgba(200, 200, 200, 0.3);
  opacity: 0.5;
  cursor: pointer;
}
.dragged-over {
  background: rgba(255, 0, 0, 0.2);
  .task {
    background: rgba(255, 0, 0, 0.1);
  }
}
